
#home p {
    color: var(--color-gray-400);
    margin-bottom: 1.5rem;
}

.about-me-content {
    display: flex;
    gap: 20px;
}   

.home-title {
    font-size: 2.875rem;
    font-weight: 800; 
    letter-spacing: -0.025em;
    margin-bottom: 0.5rem;

    color: var(--color-text-base);

    @media (min-width: 768px) {
        font-size: 4.5rem;
    }
}
 
.sub-title {
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--color-primary);

    font-size: 1.8rem;
    border-bottom: 2px solid var(--color-surface);
    margin-top: 32px;
    margin-bottom: 10px;
    
    span {   
        color: var(--color-text-base);
    }
}
.avatar-placeholder {
    min-height: 200px; /* Adjusted height */
    min-width: 40%;
    background-color: var(--color-surface);
    border-radius: 12px;
    box-shadow: 0 8px 30px rgba(77, 195, 255, 0.1);
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.1rem;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    display: none; /* Hide on small screens */

    @media (min-width: 900px) {
        display: flex;
    }
}

.expertise-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0.5rem;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

    th, td {
        padding: 0.75rem; /* Smaller padding */
        text-align: left;
    }

    th {
        color: var(--color-primary);
        background-color: var(--color-surface);
        font-weight: 700;
    }

    td {
        background-color: var(--color-dark-background);
        border-bottom: 1px solid var(--color-surface);
        color: var(--color-gray-400);

        &:first-child {
            font-weight: 600;
            color: var(--color-text-base);
        }
    }

    tr:nth-child(even) td {
        background-color: #0d1e34;
    }
}

.compact-layout-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;
    margin-bottom: 2rem;

    @media (min-width: 768px) {
        grid-template-columns: 2fr 3fr; 
        align-items: start; 
    }
}

.grid-section-header {
    margin-top: 0; /* Override default margin inside the grid cell */
    padding-bottom: 0.5rem;
    border-bottom: 2px solid var(--color-surface);
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: var(--color-text-base);
}

.education-entry {
    background-color: var(--color-surface);
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    transition: box-shadow 0.3s;
    border: 1px solid transparent;

    .details {
        font-size: 0.85rem;
        color: var(--color-primary); 
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        span {
            color: var(--color-text-base);
            margin-bottom: 0px;
        }
    }

    h4 {
        font-size: 1.1rem;
        color: var(--color-primary); /* UPDATED: Using primary color for title */
        margin: 0 0 0.25rem 0;
    }

    p {
        margin: 0.25rem 0;
        color: var(--color-gray-400);
        line-height: 1.4;
    }

    &:hover {
        box-shadow: 0 0 10px rgba(34, 211, 238, 0.4);
        border: 1px solid var(--color-primary);
    }
}

.content-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    align-items: center;
    position: relative;

    /* &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 75%;
        height: 1px;
        background-color: var(--color-surface); 
    } */

    @media (min-width: 640px) {
        flex-direction: row; 
        gap: 40px; 

        &:nth-child(even) {
            flex-direction: row-reverse;
        }
    }
}

.text-wrapper {
    padding: 20px;

    .sub-title {
        margin: 0px;
        font-size: 1.3rem;
    }
}

.project-description {
    color: var(--color-gray-400);
    margin-bottom: 1rem;
}

.image-wrapper {
    position: relative;
    border-radius: 0.75rem; 
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3); 
    overflow: hidden; 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    object-fit: cover;

    &:hover {
        transform: scale(1.01); 
 
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 5;
        mix-blend-mode: multiply;
        transition: background-color 0.3s ease-in-out;
    }

    @media (min-width: 640px) {
        width: 100%;
        height: 100%;
    }
}

.project-image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    opacity: 0.9;
    transition: opacity 0.5s;
}

.carousel-container {
    width: 100%; 
    max-width: 800px;
    position: relative;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-track-container {
    width: 70%;
    overflow: visible; 
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    align-items: center; 
    will-change: transform;
    padding: 15px 0; 
}

.carousel-slide {
    width: 100%; 
    flex-shrink: 0;
    margin: 0 -37%; 
    border-radius: 12px;
    cursor: pointer; 
    position: relative;
    z-index: 1; 
    background-color: #fff;
    aspect-ratio: 16 / 9; 
    transition: all 0.5s ease-in-out;
    
    transform: scale(0.9) translateY(0); 
    opacity: 0.7;

    img  {
        width: 100%;
        height: 100%;
        object-fit: cover; 
        display: block;
        border-radius: inherit; 
        pointer-events: none;
    }

    &.active {
        transform: scale(1.1) translateY(0);
        opacity: 1;
    }
}