/*--------------------------------------------------------------
# Home Page 
--------------------------------------------------------------*/

#home .container {
  align-items: center;
}

.home-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 21px;
  padding-right: 21px;
  overflow: hidden;
}

.home-container h1,h2 {
  color: white;
  font-size: 80px;
  margin: 0px;
}

.home-container h2 {
  display: inline-block;
}
.next {
  position: absolute;
  pointer-events: none;
  z-index: -10;
  opacity: 0;
}

.current {
  color: gray;
  width: 950px;
  height: 200px;
}

.neon, .neon_title {
  color: var(--color-scheme);
}

.neon {
  transition: color 2s;
  animation: glow 2s ease-in-out infinite alternate;
}
.typed {
  color: gray;
  font-size: 65px;
}

/*--------------------------------------------------------------
# Content/Color Switch 
--------------------------------------------------------------*/

.style:checked + label,
.style:not(:checked) + label{
  position: relative;
  display: block;
  text-align: center;
  width: 300px;
  height: 44px;
  border-radius: 4px;
  padding: 0;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 44px;
  overflow: hidden;
  color: black;
  text-align: left;
  bottom: 0px;
  border-style: outset;
  border-color: var(--color-scheme);
  transition: border-color 2s;
 
}

.style:checked + label:before,
.style:not(:checked) + label:before{
  position: absolute;
  content: '';
  z-index: -2;
  background-color: #062a3d;
  width: 100%;
  height: 100%;
  display: block;
  top: 2px;
  left: 2px;

}

.style:checked + label:after,
.style:not(:checked) + label:after{
  position: absolute;
  content: '';
  z-index: -1;
  background-color: var(--color-scheme);
  width: 148px;
  height: 40px;
  display: block;
  top: 2px;
  left: 2px;  
  border-radius: 2px;
  transition: left 300ms linear, background-color 2s;  
}
 
.style:checked + label:after {
  left: 150px;
}

.block-diff {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

.float-right {
  float: right!important;
  color: white;
}

/*--------------------------------------------------------------
# Animation Effects 
--------------------------------------------------------------*/

@keyframes fade_in_out1 {
  0% { opacity: 1; }
  40% { opacity: 0; } 
  60% { opacity: 0; }
  100% {opacity: 1; }; 
}

@keyframes fade_in_out2 {
  0% { opacity: 1; }
  40% { opacity: 0; } 
  60% { opacity: 0; }
  100% {opacity: 1; }; 
} 

@keyframes glow{
  0% { text-shadow: 0 0 1px; } 
  100% {text-shadow: 0 0 8px; }; 
}

/*--------------------------------------------------------------
# Media Changes 
--------------------------------------------------------------*/

@media (min-width: 1200px) {
  .home-container {
    width: 1200px;
  }
  .typed {
    font-size: 80px;
  }
}