/*--------------------------------------------------------------
> Projects Page
--------------------------------------------------------------*/


.projects-container {
  margin-left: auto;
  margin-right: auto;
  
  width: 1200px;
}

.projects-grid {
  position: relative;
  margin-top: 30px;
}

.names {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  height: 75px;

  & li {
    display: flex;
    list-style: none;
    float: left;
    align-items: center;
    height: 35px;
    
    /* Needed for the shape */
    border-radius: 2px;
    border-bottom-left-radius: 0px;
    border-style: solid;
    border-width: 2px;
    border-right-width: 5px;
    border-left-width: 5px;
    border-color: white;
  
    &:has(.selected) {
      border-color: var(--color-scheme);
    }
    &:has(a:hover) {
      &:not(:has(.selected)){
        background-color: var(--color-scheme);
      }
    }

    /* second half of the list-items */
    &:nth-child(-n+2) {
      
      margin-right: 11px;
      transform: skew(30deg);
      & a {
        transform: skew(-30deg);
      }
    }
    /* First half of the list-items */
    &:nth-last-child(-n+3) {
      &:not(:last-child) {
        margin-left: 11px;
        transform: skew(-30deg);
        & a {
          transform: skew(30deg);
        }
      }
    }
    /* last list-item */
    &:nth-last-child(-n+1){
      position: absolute;
      top: 50px;
      border: none;
      color: gray;

      & a {
        transform: skew(0);
      }
    }
  }
  & a {
    color: white;
    display: flex;
    justify-content: center;
    text-decoration: none;
  
    width: calc(((var(--gi-expanded-width)/4)*.3) - 20px);
    padding-left: 20px;
    padding-right: 20px;
    align-self: center;

    &:hover {
      &:not(:is(.selected)){
        color: black;
      }
    }
  }
}


.projects {
  opacity: 0;
}




.placeholder {
  position: relative;
  border-top-width: 5px;
  border-top-color: white;
  border-top-style: solid;
  .title {
    text-align: center;
    color: white;
    
    transition: opacity .5s;
  }
  .content  {
    transition: opacity .5s;
    height: 85%;
    color: white;
  }

}


@keyframes fade_in_out1 {
  0% { opacity: 1; }
  40% { opacity: 0; } 
  60% { opacity: 0; }
  100% {opacity: 1; }; 
}

@keyframes fade_in_out2 {
  0% { opacity: 1; }
  40% { opacity: 0; } 
  60% { opacity: 0; }
  100% {opacity: 1; }; 
}


.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 10px;
  width: auto;
  border-top-style: solid;
  border-color: white;
  & i {
    pointer-events: all;
    cursor: pointer;
    padding: 5px;
    color: white;
  }
}

.local-icons {
  border-right-style: solid;
  border-right-color: var(--color-scheme);
}

.extern-icons {
  border-left-style: solid;
  border-left-color: var(--color-scheme);
}