/*--------------------------------------------------------------
> General
--------------------------------------------------------------*/
:root{
  --color-scheme: rgb(2, 216, 233);
  --gi-width: 1000px;
  --gi-height: 200px;
  --gi-expanded-height: 700px;
  --gi-expanded-width: 800px;
  --gi-padding: 30px;
  --gi-ncolumns: 4;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  opacity: 0;
  z-index: -10;
}

body {
  font-family: "Poppins", sans-serif;
  color: #000000;
  overflow: hidden;
  background-color: #062a3d;
  margin: 0;
}

.horizontal-container {
  position: absolute;
  top: 60px;
  width: 300vw;
  height: 100vh;
  display: flex;      
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
}

/*--------------------------------------------------------------
> Navigation Bar
--------------------------------------------------------------*/

header {
  position: fixed;
  width: 100vw;
  display: flex;
  align-items: center;
  height: 60px;
  top: 0;
  z-index: 9999;
  background-color: #062a3d;

  & nav {
    width: 1200px;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: auto;
    padding-left: 21px;
    padding-right: 21px;

    & span {
      color: white;
    }

    & ul {
      display: flex;
      justify-content: space-evenly;
      list-style: none;
      padding:0;
    }
    & li {
      padding: 0 40px;
      position: relative;
    }

    & a {
      text-decoration: none;
      font-size: 18px;
      position: relative;
    }
    .neon {
      color: gray;
      margin-right: 10px;
      transition: color .5s;
      animation: none;
    }

    .neon::after {
      pointer-events: none;
      content: "";
      position: absolute;
      bottom: -10px;
      width: 0%;
      opacity: 1;
      height: 2px;
      background-color: var(--color-scheme);
      transition: background-color 2s, width .8s
    }

    .active {
      .neon {
        color: var(--color-scheme);
      }
      .neon::after {
        width: 100%;
      }
    }

    .idle:hover .neon {
      color: var(--color-scheme);
      transition: color .3s;
    }

    .idle .neon::after {
      width: 0%;
    } 
  }
}






